p{
  width: 80%;
  padding-top: 5%;
}

.container-fluid{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.scrolling-videolist{
  height: 100vh;
  overflow:auto;
  background-color: #3a5370;
  color: white;
  padding-left: 3vw;
  padding-top: 5vh;
}

.col-videoplayer{
  background-color: #eeeeee;
  height: 100vh;
}

.single-video-component{
  padding-top: 3%;
  padding-bottom: 3%;
}

.img-thumbnail {
  border-color: #eeeeee;
}

.img-custom{
  width: 80%;
  height: 80%;
  border-color: #eeeeee;
}

#edpuzzle{
  padding-bottom: 5%;
}

.playvideo-component{
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.video-player{
  padding-top: 13%;
  height: 70%;
  width: 90%;
  margin: 0 auto;
}

.title-video-player{
  color: #3a5370;
  padding-top: 3%;
  width: 60%;
  margin: 0 auto;
  style: bold;
}

.custom-modal{
  padding-top: 10%;
}

#shareVideoButton{
  display: inline;
  font-family: inherit;
  background-color: #3a5370;
  color: white;
}

#linkUrl{
  width: 33%;
  border-color: #eeeeee;
}
