/*General CSS*/
.container-fluid{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.col-videoplayer{
  background-color: #eeeeee;
}
/* FIRST: Under this comment you put everything that pertains to mobile aka 'responsive' layout
This part applies to 0px to 992 px */
/*Allvideo component CSS*/
.scrolling-videolist{
  height: 100vh;
  overflow:auto;
  background-color: #3a5370;
  color: white;
  margin: 0 auto;
}

/*Singlevideo component CSS*/
.img-custom {
  display: block;
  border-color: #eeeeee;
  margin: 0 auto;
}

#titleSingleVideo{
  text-align: center;
  line-height: 6vh;
  margin: 0 auto;
  font-size: 16px;
}

/*Playvideo component CSS*/
.video-player{
 padding-top: 1%;
 padding-left: 2%;
 width: 100%;
}

.title-video-player{
  color: #3a5370;
  line-height: 6vh;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}

.custom-modal{
  padding-top: 10%;
}

#shareVideoButton{
  font-family: inherit;
  background-color: #3a5370;
  margin-left: 2%;
  color: white;
}

#linkUrl{
  width: 50%;
  background-color: #eeeeee;
}


@media (min-width: 992px){
  .col-videoplayer{
    height: 100vh;
  }

  .scrolling-videolist{
    height: 100vh;
    overflow:auto;
    background-color: #3a5370;
    color: white;
    margin: 0 auto;
  }

  .single-video{
    padding-top: 8%;
  }

  #titleSingleVideo{
    text-align: center;
    line-height: 4vh;
    margin: 0 auto;
    font-size: 18px;
  }

  /*Playvideo component CSS*/
  .playvideo-component{
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }

  .video-player{
    padding-top: 9%;
    height: 70%;
    width: 100%;
    margin: 0 auto;
  }

  .title-video-player{
    color: #3a5370;
    padding-top: 2%;
    line-height: 4vh;
    width: 60%;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
  }

  .custom-modal{
    padding-top: 15%;
  }

  #shareVideoButton{
    font-family: inherit;
    font-size: 16px;
    margin-left: 2%;
    background-color: #3a5370;
    color: white;
  }

  #linkUrl{
    width: 35%;
    background-color: #eeeeee;
  }

	}
/*Allvideo component CSS*/
