/*General CSS*/
.container-fluid{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

/*Allvideo component CSS*/
.col-videoplayer{
  background-color: #eeeeee;
  height: 100vh;
}

.scrolling-videolist{
  height: 100vh;
  overflow:auto;
  background-color: #3a5370;
  color: white;
  padding-left: 3vw;
  padding-top: 5vh;
}

#edpuzzle{
  padding-bottom: 5%;
}

/*Singlevideo component CSS*/
.single-video-component{
  padding-top: 3%;
  padding-bottom: 3%;
}

#titleSingleVideo{
  width: 80%;
  padding-top: 5%;
}

.img-thumbnail {
  border-color: #eeeeee;
}

.img-custom{
  width: 80%;
  height: 80%;
  border-color: #eeeeee;
}

/*Playvideo component CSS*/
.playvideo-component{
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.video-player{
  padding-top: 13%;
  height: 70%;
  width: 90%;
  margin: 0 auto;
}

.title-video-player{
  color: #3a5370;
  padding-top: 3%;
  width: 60%;
  margin: 0 auto;
  style: bold;
}

.custom-modal{
  padding-top: 10%;
}

#shareVideoButton{
  display: inline;
  font-family: inherit;
  background-color: #3a5370;
  color: white;
}

#linkUrl{
  width: 33%;
  border-color: #eeeeee;
}

/*response CSS*/
@media (max-width: 768px){
/*Allvideo component CSS*/
.scrolling-videolist{
  height: 100%;
  overflow: visible;
  background-color: #3a5370;
  color: white;
  padding-left: 3vw;
  padding-top: 5vh;
}

/*Singlevideo component CSS*/
  .img-custom{
    width: 40%;
    height: 40%;
  }

  .single-video-component{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 20%
  }
wait

/*Playvideo component CSS*/
  .title-video-player{
    font-size: 18px;
  }

  #shareVideoButton{
    font-size: 10px;

  }

  #titleSingleVideo{
    width: 40%;
    padding-top: 3%;
  }

}
